* {
  margin: 0;
  padding: 0;
}

body {
  background-color: lightblue;
}

.hide {
  display: none;
}
/* start nav */
nav {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.left-side-nav {
  display: flex;
  font-size: 24px;
  list-style: none;
  align-items: center;
  height: 100px;
  flex: 1;
  gap: 20px;
  justify-content: center;
  padding-left: 50px;
  /* color: darkblue; */
}

.middle-nav {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
}

input {
  font-size: 20px;
}

.right-side-nav {
  display: flex;
  font-size: 28px;
  list-style: none; 
  align-items: center;
  flex: 1;
  justify-content: flex-end;
  padding-right: 20px;

}

.right-side-nav img {
  height: 50px;
}
/* end nav */

.main-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
}

.main-content {
  text-align: center;
  background-color: white;
  padding: 50px;
  border-radius: 20px;
}

.main-content h1 {
  /* background-color: blue; */
  font-size: 35px;
  margin-bottom: 20px;
}
.main-content h2 {
  font-size: 28px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.main-content img {
  border-radius: 10px;
}

button {
  background-color: rgb(199, 231, 199);
  border: none;
  border-radius: 10px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}

button:hover {
  background-color: rgb(23, 179, 75);
}


.legend-pic {
  height: 200px;
  width: auto;
}
/* 
#legend-description, #legend-title {

  background-color: red;
} */